
<div class="parchment">
    <form asp-action="AddBoard" method="post">
        <div class="form-group" style="margin: 5px;">
            <h1><label for="title">Title</label></h1>
            <input class="form-control form-control-lg" type="text" name="title" />
        </div>
        <button type="submit" class="btn btn-primary" style="background-color: black;">Submit</button>
    </form>
</div>