
<div class="blackbackground">
    <form asp-action="AddBoard" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control form-control-lg" type="text" name="title" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>