@model AddPostModel

@{
    List<Post> posts = Model.Posts;
    int BoardId = (int)Model.Board.Id;
    ViewData["Title"] = Model.Board.Title;
}

<div class="board">

<<<<<<< Updated upstream
    @*<div class="post">This is a post</div>
    <div class="post">This is also a post</div>
    <div class="post">This is a post</div>
    <div class="post">This is also a post</div>
    <div class="post">This is a post</div>
    <div class="post">This is also a post</div>
    <div class="post">This is a post</div>
    <div class="post">This is also a post</div>
    <div class="post">This is a post</div>
    <div class="post">This is also a post</div>
    <div class="post">This is a post</div>
    <div class="post">This is also a post</div>*@
=======
>>>>>>> Stashed changes

    @if (posts.Count > 0)
    {
        foreach (Post post in posts)
        {
            PassThrough pass = new PassThrough(post, Model.Board, Model.isAdmin);
            Html.RenderPartial("~/Views/Board/_PostPartialView.cshtml", pass);

            //<partial name="_PostPartialView.cshtml" for="@post" />
        }
    }

</div>

<form>
    <input type="hidden" value="@BoardId" name="BoardId" />
    <div class="button-container">
        <button type="submit" class="board-button" asp-action="AddPost"></button>
    </div>
</form>
